header{
    *{
        text-decoration:none;
        width:49%;
        font-size:30px;
        text-transform:capitalize;
    }
    padding-top:40px;
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-around;
    .header-left {
        a:nth-child(1){
            color:red;
        }
        a:nth-child(2){
            color:orange;
        }
        *{
        margin-right:20%;
        }
    }
    .header-right {
        a:nth-child(1){
            color:indigo;
        }
        a:nth-child(2){
            color:magenta;
        }
        *{margin-left:20%;
        }
    }
}