h1{
    letter-spacing:20px;
    text-align:center;
    font-size: 45px;
    text-transform:uppercase;
    padding-top:60px;
    font-weight:900;
    span{
        color:red;
    }
}
h2{
    font-size:26px;
    text-transform:uppercase;
    font-weight:400;
}
